.bot__container{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.bot__text{
    margin-left: 10px;
    font-size: calc(.5em + 1.3vw);

}

.responsive{
    display: none;
}