.home{
    height: 100vh;
    display: flex;
    align-items: center;
}

.home__container{
   
}

/* inicio logo  */

.logo__container{
    display: flex;
    justify-content: center;
}

.logo__container img{
    width: 100px;
    height: 100%;
}
/* fin logo */

/* inicio header */

.header{
    /* width: 1200px; */
    // background-color: #E21C22;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    margin: 20px;
    // -webkit-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
    // -moz-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
    // box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
}

.header__text{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.header__text h1{
    font-size: 1.5em;
}

.header__image {
    display: flex;
    justify-content: center;
}
.header__image img{
    width: 100%;
}

.cta__container{
    display: flex;
    justify-content: center;
}

.item--cta{
    cursor: pointer;
    display: flex;
    justify-content: center;
    background-color: #E21C22;
    color: #313131;
    padding: 10px;
    border-radius: 3rem;
    width: 150px;
    transition: background-color .5s ease;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: calc(.3em + 1vw);

    -webkit-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

// .header img{
//     width: 100%;
//     border-radius: 10px;
// }

// .header__imagen{
//     background-image: url('https://firebasestorage.googleapis.com/v0/b/wakkamole-61f7d.appspot.com/o/Aon%2Fheader.png?alt=media&token=c24824c3-dc9a-46e0-927b-327e9aa7dab6');
//     background-size: cover;
//     background-position: center center;
//     background-repeat: no-repeat;
//     border-radius: 10px;
// }

// .header p{
//     font-size: calc(.3em + 1vw);
//     color: white;
//     padding: 0px 5%;
//     display: flex;
//     align-items: center;
//     line-height: 25px;
// }

/* fin header */