.menu{
    width: 100%;
}

.menu__container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 2px;
    margin: 0px 20px;
    /* margin: 0px 20px; */
}

.indutry{
    color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
    /* width: 240px; */
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.indutry__number p{
    font-size: 100px;
    margin: 0;
    margin-left: 10%;
}

.industry__icon{
    display: flex;
    justify-content: center;
}

.industry__icon img{
    width: 100px;
}

.industry__title{
    font-size: calc(.3em + 1vw);
    margin: 0 10%;
}

.opacity{
    opacity:1 !important;   
}

.indutry:nth-of-type(1){
    background-color: #ED1112;
    opacity: 0.2;
}
.indutry:nth-of-type(2){
    background-color: #FFBA00;
    opacity: 0.2;
}
.indutry:nth-of-type(3){
    background-color: #65CD46;
    opacity: 0.2;
}
.indutry:nth-of-type(4){
    background-color: #7B0188;
    opacity: 0.2;
}
.indutry:nth-of-type(5){
    background-color: #0050AC;
    opacity: 0.2;
}