@import "./Vars.scss";
@import "./Media.scss";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $theme-font;
    background-color: #F3F8FB;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
  }

  .u-wrapper {
    margin: 0 auto!important;
    max-width: 1200px;
}