@media screen and (max-width: 540px){
    .main-section {
        grid-template-columns: 1fr;
        grid-template-rows: calc(calc(var(--vh,1vh)* 100 ) - 100px) 100px;
        grid-template-areas:
            "hero"
            "navbar";
    }

    .nav{
        background-color: #f3f8fb;
        position: inherit;
        display: block;
        align-self: inherit;
        padding: 5px;
        margin: 0px;
        border-radius: 0px;
    }

    .nav ul{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr auto;
        padding: 0px 0px 0px 0px;
        height: auto;
        gap: 0px;
        padding-bottom: 15px;
    } 

    .nav ul li{
        width: 45px;
        height: 45px;
    }

    .nav p{
        font-size: 9px;
        display: block;
    }

    .cta__container{
        display: none;
    }

    .header{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    .header__image img {
        height: 200px;
        width: 200px;
    }

    .header p{
        line-height: 15px;
        font-size: calc(.5em + 1.3vw);
    }

    .bot__container{
        height: auto;
    }

    .bot__img img{
        width: 85px;
    }

    .default{
        display: none;
    }

    .responsive {
        display: block;
    }

    .indutry__number p{
        font-size: 25px;
    }

    .industry__icon img{
        width: 65px;
        padding: 5%;
    }

    .industry__title{
        font-size: calc(0.5em + 1vw);
        font-weight: bold;
    }

    .riesgos__container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 45px auto auto auto auto auto;
        grid-template-areas:
            "header header header header"
            "menu menu menu menu"
            "menu menu menu menu"
            "imagen item item item"
            "imagen item item item"
            "imagen item item item";
    }

    .riesgo__op--title{
        font-size: calc(.3em + 2vw);
    }

    .riesgos__header{
        display: flex;
        align-items: center;
        border-radius: 10px 10px 0px 0px;
    }

    .icon__riegos{
        text-align: start;
        padding: 0;
        padding:0 10px
    }
    .riesgos__header--title p {
        writing-mode: horizontal-tb;
    }
    
    .servicios__container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 45px auto auto auto auto auto;
        grid-template-areas:
            "header header header header"
            "menu menu menu menu"
            "menu menu menu menu"
            "imagen item item item"
            "imagen item item item"
            "imagen item item item";
    }
    .servicios__header{
        display: flex;
        align-items: center;
        border-radius: 10px 10px 0px 0px;
    }

    .icon__servicios{
        text-align: start;
        padding: 0;
        padding:0 10px
    }

    .servicios__header--title{
        writing-mode: horizontal-tb;
        padding-bottom: 0;
    }
    .servicios__op {
        margin: 2px;
    }
    .servicios__op--title {
        font-size: calc(.3em + 1.5vw);
    }
}